@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .center {
    @apply flex justify-center items-center;
  }
}

.text-ellipsis {
  @apply overflow-hidden whitespace-nowrap;
  text-overflow: ellipsis;
}



.highlight {
  font-weight: 900;
}
.highlight-1 {
  /* color: #f5222d; */
  @apply text-secondary;
}
.highlight-2 {
  /* color: #faad14; */
  @apply text-accent;
}
.highlight-3 {
  /* color: #a0d911; */
  @apply text-primary;
}
.highlight-4 {
  /* color: #eb2f96; */
  @apply text-info;
}
.highlight-5 {
  /* color: #722ed1; */
  @apply text-success;
}
.highlight-6 {
  /* color: #1677ff; */
  @apply text-warning;
}
.highlight-7 {
  color: #13c2c2;
  @apply text-error;
}
.highlight-8 {
  color: #2f54eb;
}
.highlight-9 {
  color: #fadb14;
}

summary.active {
  @apply bg-neutral;
  @apply text-neutral-content;
}